 /* Nav bar CSS */
nav {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}
.navbar-nav a {
    margin: 25px;
    font-size: 17.5px;
}
 /* Home CSS */
.container-intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.mini-form {
    padding-bottom: 222px;
}
.container {
width: 852px;
border-radius: 23px;
border: 1px solid black;
margin-top: 160px;
padding: 16px;
box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);

}
.intro-room h3 {
    margin-top: -11px;
}
.intro-room, .intro-food, .intro-locations{
    margin-left: 54px;
    margin-right: 25px;
}

.intro {
    padding: 64px;
}

.wrapper {
margin: 8px 0;
}




.container-intro img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.search-container {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: flex-start;
align-content: stretch;
align-items: flex-start;
}

input {
min-width: 20px;
padding: 8px;
margin: 0 4px 0 0;
border: 1px solid #666;
border-radius: 5px;
height: 46.5px;
}

#button {
padding: 8px 16px;
min-height: 48px;
min-width: 10px;
word-wrap: nowrap;
background: #6D8B74;
color: #fff;
border: 1px solid #fff;
border-radius: 5px;
}

input {
    order: 0;
    align-self: auto;
}

.search {
flex: 2 1 auto;
}

.date {
flex: 1 1 auto;
}

.number {
flex: 1 1 auto;
}

.button {
    order: 4;
    flex: 0 1 auto;
    align-self: auto;
}


 /* About Us CSS */
.about-us {
    text-align: center;
    padding: 110px;
}
.about-us img {
    display: block;
    margin: 75px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.container-food_drinks h2 {
    margin-bottom:12px;
}

.container-food_drinks {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;

}
.container-food_drinks p {
    margin-left: 28px;
    margin-right: 28px;
    padding-top: 0px;
}

.food p {
    padding-right:28px;
    padding-left:25px;
    margin-top: 0;

}
.container-rooms {
    text-align: center;
    margin-top: 60px;
    padding: 30px;
}

.container-rooms p{
    margin-top: 60px;

}

.container-rooms h2{
    margin-bottom: 45px;

}

#carouselExampleIndicators {
    margin: 0 auto;
    width: 846px;
    height: 397px;
}

.carousel-inner {
    height: 100%;
    width: 100%;

}

.carousel-item img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.button-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-location {
    margin-top: 30px;
    padding-right: 95px;
    padding-left: 95px;
}

.container-location h2 {
    margin-bottom: 20px;
}
.container-location button {
    margin-bottom: 30px;
    margin-top: 30px;

}


/* Search Results Page CSS*/
.container-results {
    padding: 35px;
}
.container-results form {
    width: 100%;
    border: 1px solid rgba(93, 150, 102, 0.765);
    border-radius: 4px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-results form input {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    font-size: 20px;
    font-weight: 280;
    padding: 8px 10px;
}
.container-results form i {
    padding-left: 30px;
}

.room {
    display: flex;
    align-items: center;
    cursor: center;
    justify-content: left;
    padding-top: 60px;
}

.mid-details {
    margin-bottom: 150px;

}

.last-details {

    margin-bottom: 60px;
    display: flex; /* Enables flex layout */
    justify-content: space-between; /* Distributes text across the row */
    align-items: center; /* Aligns items vertically in the row */


}

.room img {
    height: 349px;
    width: 360px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 65px;
}

.rooms-list {
    padding: 20px 0;
    overflow: scroll;
}

hr {
    border: none;
    border-top: 1px solid black;
    margin-top: 70px;
    width: 100vw;
    margin-left: 0;
}

.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    margin: 20px 0;
}

.filters img {
    height:18px;
    width:20px;
}


.standard-upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px;
    margin: 0 265px;
}

.Standard-room {
    margin-top: 60px;
}

.after-map-pt1, .after-map-pt2 {
    display: flex;
    align-items: center;
}

.after-map {
    justify-content: center;
}

html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
}

button {
    color: rgb(56, 90, 56);
}


/* Deals CSS */
.deals h1 {
   text-align:center;
    margin-bottom:3%;
    font-size:50px;
    color:rgb(47, 89, 47);
}

.deals img {
    width:64%;
    height:43%;
    margin-left: 17%;
}



/* Log in CSS */
.main-log-in form {
        border: 0.13rem solid black;
        width:93%;
        height:50%;
        margin-top:6%;
    }

/*Manage Booking CSS*/
 .main-manage{
     padding:77px;
     margin-left: 5%
 }
 .manage1 {
     border: 0.13rem solid black;
     width:93%;
     height:50%;
     margin-top:6%;
 }
.manage2 {
    size: 2%;
    padding:3rem;
}

.manage2 h2{
    font-size:27px;
}


.meal{
   font-size:21px;
    text-align:center;
}
.cost{
    font-size:25px;
    text-align:center;
}

.manage2 p {
    font-size:21px;
}

.name p{
    font-size:26px;
}

.main-manage button{
    height:6rem;
    width:10rem;

    }

.button2 button {
    position:relative;
    right:4rem;
}
/*Cancel Warning CSS*/
.main-alert p {
    font-size: 30px;
    color: black;
}

/*Individual Rooms*/
 .container-standard p{
    text-align:center;
    padding-top:55px;
    padding-left:55px;
    padding-right:55px;
}

.container-standard a{
    margin-left:48%;
    font-size:17px;
}

.map h1{
    text-align:center;
    padding:60px;
    margin-top:20px;
}

.embed-responsive embed-responsive-16by9 iframe{
    width:806px;
    height:437px;
    margin-left:320px;
}

.after-map {
    margin-left: 29%;
    border: 2px solid black;
    width: 620px;
    height: 280px;
    padding: 10px;
    align-content: center;
    position: relative;
    bottom: 250px;
}

.after-map-pt1 p {
    font-size:32px;
    margin-right: 280px;
}
.after-map-pt2 p {
    font-size: 32px;
    margin-right: 280px;
}

.Book-Now {
margin-left:415px;
position:relative;
bottom:180px;
padding-bottom:20px;

}

.Book-Now h2 {
    padding: 20px;
}

.Book-Now-Container {
    border: 2px solid black;
    width: 620px;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
}

/* Phone Responsiveness */
 @media screen and (max-width: 600px) {
     /* Home page */
     nav img{
         width: 120px;
         height: 130px;
     }
     .mini-form {
         padding-bottom: 111px;
         font-size:12px;
     }
     .container {
         max-width: 90%;
         margin-top: 80px;
         padding: 6px;
         border-radius: 11.5px;
     }
     .wrapper {
         margin: 4px 2px;
     }
     input {
         min-width: 10px;
         padding: 4px;
         margin: 0 2px 0 0;
         height: 23.25px;
     }
     .button {
         padding: 4px 8px;
         min-height: 24px;
         min-width: 2.5px;
         font-size: 8px;
     }
    .container-intro{
        position:relative;
        right:4.5em;
        padding: 10px;
    }
    .container-intro img {
        width: 100%;
        height: auto;

    }
    .intro-room, .intro-food{
        position:relative;
        right:1em;
        padding:0;
        margin-right:0;

    }

    .intro-locations h3, .intro-locations p, .intro-locations a {
        margin-left: 0.2em;
    }


     .intro h3 {
         font-size:18px;
         margin-right:0;
         padding:0;
     }
     .intro p {
         font-size:9px;
         margin:0;
         padding:0;
     }
     .intro a {
         font-size:8px;
         margin:0;
         padding:0;
     }
     .intro {
         padding:34px;
     }

    /* Search Results Page CSS*/
    .container-results {
    padding: 17.5px;
    }

    .room {
    padding-top: 30px;
    }

    .room img {
    height: 174.5px;
    width: 180px;
    object-fit: cover;
    border-radius: 2.5px;
    margin-right: 40px;
    }
    hr {
    margin-top: 35px;
    width: 100vw;

    }
    .p-details h2{
        font-size:20px;
    }
    .p-details h5{
        font-size:15px;

    }
    .p-details p{
        font-size:8px;

    }
    .p-details a{
        font-size:6px;

    }
    .mid-details {
    margin-bottom: 65px;

    }

    .last-details {

        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* Deals CSS*/
    .deals h1 {
        font-size:30px;
        margin-bottom:6%;
        position:relative;
        bottom:26px;
    }
    .deals img {
        width:84%;
        height:52%;
        position:relative;
        right:10px;
    }
    .upper p{
        font-size:8px;
        position:relative;
        right:26px;
    }
    .down p{
        font-size:12px;
        position:relative;
        right:160px;
    }
    .down a{
        font-size:10px;
    }
    .down {
        margin-bottom: 20px;
    }

    /* About Us CSS*/
     .about-us {
        text-align: center;
        padding: 50px;
    }
    .about-us img{
        height:20vh;
        width:80vw;
        position:relative;
        right:8px;
    }

    .about-us h1{
        font-size:24px;
    }
    .about-us p{
        font-size:10px;
        position:relative;
        bottom:38px;

    }

    .food h2 {
        font-size:21px;
        margin-bottom:4px;
    }


    .container-food_drinks p {
        font-size:8px;
    }
    .container-food_drinks img {
       height:600%;
        width:50%;
    }
    .food p {
        padding-right:14px;
        padding-left:12.5px;
        margin-top: 0;
        font-size:8px;

    }

    .container-rooms h2{
        font-size:21px;
        margin-bottom:4px;
        text-align:center;
    }

    #carouselExampleIndicators {
    margin: 2px auto;
    position:relative;
    right:9px;
    top:15px;
    width: 300.25px;
    height: 158.5px;
    }

    .carousel-inner {
        height: 100%;
        width: 100%;

    }

    .carousel-item img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .container-rooms p{
    font-size: 10px;
    }


    .container-location h2 {
        font-size:21px;
    }
    .container-location h3{
        font-size:18px;
    }
    .container-location p{
        font-size:10px;
    }
    .container-location li{
        font-size:12px;

    }
    .container-location h3, .container-location li{
        position:relative;
        right:29px;
    }
    .button-parent button{
        font-size:9px;
    }

    /*Manage Booking Log in*/
    .log-in p {
        font-size: 11px;
    }
    .log-in label {
        font-size: 11px;
    }
    .log-in {
        padding: 1em;
    }
    .main-log-in h2{
        font-size:24px;
        margin-bottom: 30px;
        text-align:center;
    }
    .main-log-in form {
        width:78vw;
        height:50%;
        position:relative;
        right:3.3em;
    }
    .log-in button {
        font-size:9px;
    }


    /*Manage Booking CSS*/
     .main-manage h2{
        font-size:28px;
        text-align: center;
        margin-bottom:23px;
    }
     .manage1 {
         width:78vw;
         height:50%;
         position:relative;
         right:3em;
     }
    .manage2 h3{
        font-size:16px;
    }
     .meal{
    font-size:12.5px;
    text-align:center;
    }
    .cost{
        font-size:14.5px;
        text-align:center;
    }

    .manage2 p {
        font-size:12.5px;
    }

    .name p{
        font-size:15px;
    }
    .main-manage button{
        height:3.5rem;
        width:5.5rem;
        font-size:12px;
    }
    .button1 button{
      position:relative;
        right:0.2rem;
    }
    .button2 button {
    position:relative;
    right:0.2rem;
    }
    /*Cancel Warning CSS*/
    .main-alert p{
        font-size:15px;
        color: black;
    }

     /*Change Booking*/
    .main-manage input{
       height:22.05px;
        width:103px;
        font-size:10px;
    }

    .main-manage select{
       height:31.15px;
    }
    .main-manage option{
       font-size:10px;
        width:100vw;
        position:relative;
        left:24em;
        top:24em;

    }

    /*Individual Rooms*/
    .standard-upper {
        position:relative;
        right:14.6em;

    }
    .standard-upper h2{
        font-size:23px;
        position:relative;
        right:32px;
    }
    .standard-upper h4{
        font-size:20px;
        position:relative;
        left:82px;
    }
    .container-standard .carousel-inner{
        position: relative;
        bottom: 3em;
        left:0.5em;
    }
    .container-standard p{
        font-size: 10px;
        padding-top:0;
        padding-left:25px;
        padding-right:25px;
        position:relative;
        bottom:2em;
    }
    .container-standard a{
        margin-left:44%;
        font-size:11.5px;
        position:relative;
        bottom:2em;
    }
    .map h1{
        text-align:center;
        padding:60px;
        margin-top:0;
        font-size:33px;
        position:relative;
        bottom:1.5em;
    }
    .after-map {
        margin-left: 9%;
        width: 328px;
        height: 223px;
        padding: 5px;
        position: relative;
        bottom: 20px;
    }

    .after-map-pt1 p {
        font-size:16px;
        margin-right: 115px;
    }

    .after-map-pt2 p {
        font-size: 16px;
        margin-right: 90px;
    }
    .Book-Now {
        margin-left:15px;
        position:relative;
        bottom:10px;
        padding-bottom:20px;

    }
    .Book-Now h2 {
        margin-top:10px;
        padding: 5px;
        font-size:23px;
    }
    .Book-Now-Container {
        width: 352px;
        height: auto;
        padding: 10px;

    }
 }
