<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Flora Hotels</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link " href='/'>Home <span class="sr-only">(current)</span></a>
                        <a class="nav-link" href="/Deals">Deals</a>
                        <a class="nav-link" href="/login_booking">Managing Bookings</a>
                        <a class="nav-link active" href="/about">About Us</a>
                    </div>
                </div>
                <a class="navbar-brand" href="#">
                    <img src="{{ url_for('static', filename='img/FLORA HOTELS LOGO.png') }}" width="156" height="183" alt="Flora Hotels Logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </header>
    <body>
        <div class="alert alert-light" role="alert" style="position:fixed; top: 280px; left: 10.8vw; right: 0; width: 80vw; height:30vh; z-index: 9999; border-color: rgb(0, 0, 0); text-align: center;">
            <div class="main alert" style="padding:30px; margin-top:20px;">
                    <p style="color: black;">Are you sure you would<br> like to cancel your stay <br>in the {{ booking.room_name }} on<br> {{ booking.check_in }}?</p>
                <div style="display: flex; justify-content: center;">
                    <div style="display:flex;justify-content: space-between;margin-top:3%;">
                        <form action="/cancel_booking_warning" method="POST" style="position:relative;right:0.8rem;">
                            <button type="submit" class="btn btn-primary btn-lg" name="Yes">Yes</button>
                        </form>
                        <form action="/cancel_booking_warning" method="POST">
                            <button type="submit" class="btn btn-primary btn-lg" style="position:relative;left:0.8rem;" name="No">No</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <main class="main-manage">
            <h2>Manage Booking</h2>

            <div class="manage1">
                <div class="manage2">
                    <h3>Booking info</h3>
                    <div class="reference" style="display: flex; justify-content: space-between;">
                            <p>Reference number</p>
                            <p>{{ booking.booking_number }}</p>
                    </div>

                    <div class="name" style="display: flex; justify-content: space-between;">
                        <p>Name</p>
                        <p>{{ booking.name }} {{ booking.surname }}</p>
                    </div>
                    <div class="address" style="display: flex; justify-content: space-between;">
                        <p>Address</p>
                        <p>{{ booking.location }}</p>
                    </div>


                    <hr style="border: 1px solid black; width: 100%; margin: 10px 0;">

                    <div class="check_in" style="display: flex; justify-content: space-between;">
                        <p>Check In:</p>
                        <p>{{ booking.check_in }}</p>
                    </div>
                    <div class="check_out" style="display: flex; justify-content: space-between;">
                        <p>Check Out:</p>
                        <p>{{ booking.check_out }}</p>
                    </div>
                    <div class="nights" style="display: flex; justify-content: space-between;">
                        <p>No. of Nights</p>
                        <p>{{ booking.nights }}</p>
                    </div>


                    <hr style="border: 1px solid black; width: 100%; margin: 10px 0;">

                    <div class="people" style="display: flex; justify-content: space-between;">
                        <p>No. of People</p>
                        <p>{{ booking.people }}</p>
                    </div>


                    <hr style="border: 1px solid black; width: 100%; margin: 10px 0;">


                    <p class="meal">{{ booking.meal_deal }}</p>

                    <hr style="border: 1px solid black; width: 100%; margin: 10px 0;">

                    <p class="cost">Total cost:</p>
                    <p class="cost">£{{ booking.people * booking.total_price | int }}</p>
                </div>
            </div>

            <div style="display: flex;justify-content: space-around;margin-top:6%;">
                <form class="button1" action="#">
                    <button type="submit" class="btn btn-primary">Cancel</button>
                </form>
                <form class="button2" action="#">
                    <button  type="submit" class="btn btn-primary">Change Booking</button>
                </form>
            </div>

        </main>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    </body>
</html>